<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
  <a class="navbar-brand" href="#">{{brandTitle}}</a>
  <button class="navbar-toggler" type="button" (click)="toggleCollapsed()" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}" id="navbarNav">
    <ul class="navbar-nav ml-auto p-2">
      <li class="nav-item text-center">
        <a class="nav-link" routerLink="/users/create" routerLinkActive="activeClass">Create</a>
      </li>
      <li class="nav-item text-center">
        <a class="nav-link" routerLink="/users/view" routerLinkActive="activeClass">View</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>