@import '~bootstrap/dist/css/bootstrap.min.css';

label:not(.nonBoldLabel){
    font-weight: bolder;
    font-size:1.2rem;
}

.nonBoldLabel{
    font-size: 1.1rem;
}
 
input.ng-invalid.ng-touched  {
    border: 1px solid #a94442; /* red */
  }

.modal{
    display: block;
    z-index: 999;
} 

